<!DOCTYPE html>
    <head>
        <title>Tic Tac Toe</title>
    </head>
    <style>
        td {
            border: 1px solid black;
            height: 150px;
            width: 150px;
            text-align: center;
            font-size: 50px;
        }
        td > a {
            font-size: 18px;
        }
        table {
            border-collapse: collapse;
        }
    </style>
    <body>
        {% if over %}
            <h1>{{ turn }} wins!</h1>
        {% elif full %}
            <h1>Tie!</h1>
        {% else %}
            <h1>Tic Tac Toe</h1>
        {% endif %}
        <table>
            {% for i in range(3) %}
                <tr>
                    {% for j in range(3) %}
                        {% if game[i][j] %}
                            <td>{{ game[i][j] }}</td>
                        {% else %}
                            <td>
                                <a href="{{ url_for('play', row=i, col=j)}}">Play {{ turn }} here.</a>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <form method="post" action="/reset">
            <button type="submit">Reset Board</button>
        </form>
        <form method="post" action="/move">
            <button type="submit">Computer Move</button>
        </form>
    </body>

</html>
